<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">User Infos</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <h1 class="display-1">
        Portal
    </h1>

    <section>
        <form action="/" method="POST">
            <input type="text" class="form-control form-control-lg" type="text" placeholder="Name" name="name"
                aria-label=".form-control-lg example">
            <br>
            <input type="number" class="form-control form-control-lg" type="text" placeholder="Age" name="age"
                aria-label=".form-control-lg example">
            <br>
            <input type="email" class="form-control form-control-lg" type="text" placeholder="Email" name='id'
                aria-label=".form-control-lg example">
            <br>
            <input type="text" class="form-control form-control-lg" type="text" placeholder="Address" name="address"
                aria-label=".form-control-lg example">
            <br>
            <input type="text" class="form-control form-control-lg" type="text" placeholder="Phone Number" name="phone"
                aria-label=".form-control-lg example">

            <button class="btn btn-outline-success" type="submit">
                Submit
            </button>
        </form>


    </section>

</body>

</html>